<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.wbl1.util1.LoggerListener1"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/suganya/SecondFramework_Demo">
        <classes>
            <class name="com.wbl1.test1.HomePageTest1">
                <methods>
                    <include name="searchTest"/>
                    <include name="HeroImages"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>